.single-patient-page-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    .patient-view{
        width: 30%;
        background-color: #ffffff;
        border-radius: 10px;
        height: calc(100vh - 100px);
        position: sticky;
        top: 10%;
    }
    .patient-content-view{
        width: 70%;
        background-color: #ffffff;
        border-radius: 10px;
    }
}