$main-blue: #0A018E;
$second-blue: #2F2980;

$main-green: #8CC63F;
$second-green: #528F01;

$color-danger: #ff5b4f;
$color-info: #0DD8D8;
$color-success: #528F01;
$color-warning: #E5B50A;

$main-green-ligth: hsla(86, 54%, 51%, 0.3);
$main-bleu-ligth: hsla(244, 99%, 28%, 0.3);